
.vs/slnx.sqlite
.vs/Roki_2_Soccer/v17/.wsuo
/.vs
.vs/Roki_2_Soccer/FileContentIndex/43f2a5df-8e5c-4124-abd1-4d3d244303af.vsidx
.vs/Roki_2_Soccer/FileContentIndex/43f2a5df-8e5c-4124-abd1-4d3d244303af.vsidx
.vs/Roki_2_Soccer/FileContentIndex/59d4c83e-1379-46b7-9aad-f6dd034f036e.vsidx
.vs/Roki_2_Soccer/v17/.wsuo
/.vs
/.vs
.vs/Roki_2_Soccer/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
